@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;500&display=swap');

body {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    button {
        &:active {
            box-shadow: none;
            border: none;
        }

        &:hover {
            box-shadow: none;

            border: none;
        }

    }

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("./img/andrey.jpeg");
    // background-image: url("./img/crop.png");
    background-size: 40% auto;
    background-repeat: no-repeat;
    background-position: left top;
    font-family: 'Roboto Mono',
    monospace;
    font-weight: 200;

    .main {
        margin: 0 auto;
        width: 600px;
        min-height: 600px;
        background-color: rgba(255, 0, 0, 0.555);
        padding: 60px;

        .pagin {
            width: 50%;
            border: 1px solid white;
            background-color: rgba(0, 0, 0, 0.082);
            height: 50px;
        }

        .hi {
            background-color: transparent;
            border-bottom: 1px solid transparent;
        }

        .story {
            border-bottom: 1px solid white;
            border-left: 1px solid white;
            border-right: 1px solid white;

            &--item {
                padding: 30px;
            }

        }

        .pagin {
            width: 50%;
        }

        h1 {
            font-size: 36px;
            line-height: 36px;
            margin: 0 0 40px 0;
        }

        p {
            font-size: 16px;
            line-height: 20px;
            margin: 0 0 10px 0px;
        }

        .links {
            font-size: 16px;
            line-height: 16px;
            display: flex;
            flex-direction: column;
            padding: 20px 0 0 30px;

            a {
                color: white;
                cursor: pointer;
                margin: 0 0 20px 0;
                position: relative;

                &:hover {
                    font-weight: 400;
                }
            }

            &--tele {
                &::before {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 16px;
                    height: 16px;
                    background-image: url('./img/tele_white.svg');
                    background-size: 100% auto;
                    left: -30px;
                }
            }

            &--wa {
                &::before {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 16px;
                    height: 16px;
                    background-image: url('./img/phone_white.svg');
                    background-size: 100% auto;
                    left: -30px;
                }
            }

            &--mail {
                &::before {
                    position: absolute;
                    left: -30px;
                    content: '';
                    display: block;
                    width: 16px;
                    height: 16px;
                    background-image: url('./img/mail_white.svg');
                    background-size: 100% auto;
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    body {
        * {
            margin: 0;
            padding: 0;
        }

        background-size: 80% auto;
        padding: 60px 10px 0;


        .main {
            margin: 0 auto;
            width: 100%;
            min-height: unset;
            padding: 60px 10px 0;

            h1 {
                font-size: 36px;
                line-height: 36px;
                margin: 0 0 40px 0;
            }

            p {
                font-size: 16px;
                line-height: 20px;
                margin: 0 0 10px 0px;
            }

            .links {
                font-size: 16px;
                line-height: 16px;
                display: flex;
                flex-direction: column;
                padding: 20px 0 0 30px;

                a {
                    color: white;
                    cursor: pointer;
                    margin: 0 0 20px 0;
                    position: relative;

                    &:hover {
                        font-weight: 400;
                    }
                }

                &--tele {
                    &::before {
                        position: absolute;
                        content: '';
                        display: block;
                        width: 16px;
                        height: 16px;
                        background-image: url('./img/tele_white.svg');
                        background-size: 100% auto;
                        left: -30px;
                    }
                }

                &--wa {
                    &::before {
                        position: absolute;
                        content: '';
                        display: block;
                        width: 16px;
                        height: 16px;
                        background-image: url('./img/phone_white.svg');
                        background-size: 100% auto;
                        left: -30px;
                    }
                }

                &--mail {
                    &::before {
                        position: absolute;
                        left: -30px;
                        content: '';
                        display: block;
                        width: 16px;
                        height: 16px;
                        background-image: url('./img/mail_white.svg');
                        background-size: 100% auto;
                    }
                }
            }
        }
    }
}